<!DOCTYPE html>
<html>
<head>
  <title><%= @pagetitle || (@page && @page.title) || 'Learning Rails Sample Application' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='pagewrapper'>
  <div id='header'>
    <p>Learning Rails Sample Application</p>
  </div>
  <div id='navbar'>
    <ul>
      <li><%= link_to 'Home', {:controller => 'viewer',:action=>'show', :name => 'home'} %></li>
      <li><%= link_to 'Resources', {:controller => 'viewer',:action=>'show', :name => 'resoures'} %></li>
      <li><%= link_to 'About Us', {:controller => 'viewer',:action=>'show', :name => 'about us'} %></li>
      <li><%= link_to 'Contact Us', {:controller => 'viewer',:action=>'show', :name => 'contact us'} %></li>
     <li> <% if logged_in? %>
        <%= link_to 'Logout',logout_path %>
          <% else %>
          <%= link_to 'Login',login_path %>
        <% end %>
      </li>
    </ul>
    <div>
    </div>
<h2> <%= flash[:notice] %> </h2>

<%= yield %>

</body>
</html>
